In [ ]:
# List, tuple, set, frozenset, dictionary

list=> mutuable data type, sequentia collection of element

array vs list => any type

In [2]:
myList=[10,20,30,"hey"]
type(myList)

list

In [4]:
myList[0]=10000
print(myList)

[10000, 20, 30, 'hey']

In [5]:
myList[0:2]=["a","b"]
print(myList)

['a', 'b', 30, 'hey']

In [3]:
myList[0:2]=["a","b",1000,3]
print(myList)

['a', 'b', 1000, 3, 30, 'hey']

In [4]:
myList

['a', 'b', 1000, 3, 30, 'hey']

In [9]:
myList.append("sameer")
print(myList)

['a', 'b', 1000, 30, 'hey', 'sameer', 'sameer']

In [7]:
myList.extend("goa")

In [5]:
myList.append("SAMEER")

In [10]:
myList

['a', 'b', 1000, 3, 30, 'hey', 'g', 'o', 'a']

In [17]:
myList.pop(0)

'a'

In [9]:
myList.remove('SAMEER')

In [28]:
myList=[10,20,30]

In [30]:
myList*2

[10, 20, 30, 10, 20, 30]

In [32]:
"sameer "*2

'sameer sameer '

In [ ]:
# tuple  (diff btw tuple vs list)

# tuple contains atleat 2 element

In [1]:
tuples=(30,)
print(type(tuples))

<class 'tuple'>

In [52]:
tuples

(30,)

In [56]:
tiple=(10,20)
tuples+tiple

(10, 20)

dictionary

key : value

->unordered collection of element in format of key:value pair 
->its is mutuable
-> value/data that are associated can be duplication or unique
-> the data can be of any data type

question: where is a variable is sotored (heap or stack memomry)

In [11]:
dic={"name": "sameer", "age":22}
print(dic)

{'name': 'sameer', 'age': 22}

In [13]:
dic["name"]=="sameer"

True

In [67]:
print(dic)

{'name': 'saleem', 'age': 22, 'salary': 10000000}

In [66]:
dic["salary"]=10000000

In [ ]:
# find out the use case of  a zip function and enumrate function 

# number to hexa

In [2]:
mylist=[{'name': 'saleem', 'marks': [10,20]},{'name': 'sameer', 'marks': [30,40]},{'name': 'sadiq', 'marks': [50,60]}]
mylist

[{'name': 'saleem', 'marks': [10, 20]},
 {'name': 'sameer', 'marks': [30, 40]},
 {'name': 'sadiq', 'marks': [50, 60]}]

In [94]:
for i in mylist:
    print(i["marks"])

[10, 20]
[30, 40]
[50, 60]

set 
-> unordered
-> unique

In [14]:
myset=set({})
print(type(myset))

<class 'set'>

In [15]:
myset={10,20,30,40}
myset

{10, 20, 30, 40}

In [19]:
myset.add("sameer")
myset

{10, 20, 30, 40, 'sameer'}

In [18]:
myset.remove("sameer")

In [105]:
myset.discard(20)

In [107]:
myset.update("saleem")

In [22]:
myset.update("sameer")

In [23]:
myset

{10, 20, 30, 40, 'a', 'e', 'm', 'r', 's', 'sameer'}

#create a set containg mulitple elements check the first set element is int or float
#and in case   string data we need uppend @ gmail.com to the list 


create 2 set  use diffenernce, isdijoint, issubset, symmertric, issuperset

take input (string) return=>unique value into

In [3]:
myset=set({23,25.4,"sameer"})
myset

{23, 25.4, 'sameer'}

In [127]:
myans=[]
for i in myset:
    if(i*0==0):
        sq=int(i)**2
        myans.append(sq)
    else:
        email=i+"@gmail.com"
        myans.append(email)
print(myans)

[625, 'sameer@gmail.com', 529]

In [140]:
set1={1,2,3,4}
set2={3,4,5,6,7}

In [141]:
print(set1.difference(set2))

{1, 2}

In [142]:
print(set1.isdisjoint(set2))

False

In [143]:
print(set1.symmetric_difference(set2))

{1, 2, 5, 6, 7}

In [144]:
print(set1.issuperset(set2))

False

In [146]:
print(set1.issubset(set2))

False

In [145]:
a=input("enter into the String")
newset=set(a)
newset

{'a', 'e', 'm', 'r', 's'}

function
-> aslo called as Named Block

def fucntion():
    statement

call the function()

In [154]:
def greeting(name,email):
    print(name+" hello"+email)

In [157]:
greeting("sameer"," @gmail")

sameer hello @gmail

In [177]:
def studentDetails(sid,name,email="@gmail.com"):
    print(f"student id is {sid}, name {name}, email {email}")

In [174]:
studentDetails(name="sameer",sid=12,email="sameer@gmail.com")

student id is 12, name sameer, email sameer@gmail.com

In [179]:
studentDetails(12,name="sameer")

student id is 12, name sameer, email @gmail.com

In [12]:
def hello(*detail):
    print(detail, type(detail))

In [13]:

hello(10,20,30)

(10, 20, 30) <class 'tuple'>

In [2]:
def hello1(**detail):
    print(detail, type(detail))

In [194]:
hello1(name="sameer")

{'name': 'sameer'} <class 'dict'>

#   *agrs  vs **kwargs

In [1]:
def LCM(x,y):
    greatest=0
    if(x>y):
        greatest=x
    else:
        greatest=y
    
    while(True):
        if((greatest%x==0) and (greatest%y==0)):
            lcm=greatest
            print(lcm)
            break
            greatest+=1

In [2]:
LCM(5,5)

5

In [3]:
a= 10
print("Octal number: ", oct(a))
print("Hexa number : ", hex(a))
print("Binary number: ", bin(a))

Octal number:  0o12
Hexa number :  0xa
Binary number:  0b1010

In [32]:
nums = [10,15,20,25,30,14,20,19,34,14,20,12]

print(set(enumerate(nums)))

{(1, 15), (0, 10), (2, 20), (5, 14), (6, 20), (7, 19), (10, 20), (11, 12), (3, 25), (9, 14), (4, 30), (8, 34)}

In [8]:
names = ["john", "nick", "sally", "Elizabeth", "Mike"]
ages =  [20, 25, 35, 22, 29]
genders = ("male", "male", "female", "female", "male")

trys=(set(enumerate(names)))
print(trys)

records = set((zip(names, ages,(genders))))
print(records)

{(4, 'Mike'), (0, 'john'), (2, 'sally'), (3, 'Elizabeth'), (1, 'nick')}
{('Mike', 29, 'male'), ('john', 20, 'male'), ('Elizabeth', 22, 'female'), ('sally', 35, 'female'), ('nick', 25, 'male')}