Question 5

In [2]:
cloud = [['AWS', 'GCP', 'AZURE'], [100, 200, 150], [120, 180, 100]]

dictionary = {cloud[0][i]: (cloud[1][i], cloud[2][i]) for i in range(len(cloud[0]))}
print(dictionary)

{'AWS': (100, 120), 'GCP': (200, 180), 'AZURE': (150, 100)}

Question 4

In [36]:
values = list(range(10*6))
element_1 = 123456

if element_1 in values:
    print("Found")
else:
    print("Not found")

Not found

Question 3

In [3]:
test_string = ['racecar', 'kayak', 'civic', 'stats', 'rotate', 'rotor']

for string in test_string:
    if string == string[::-1]:
        print(True, end=',')
    else:
        print(False, end=',')

True,True,True,True,False,True,

Question 2

In [8]:
import re
test_string='In the financial year of 2023 the profit was $2000 while total revenue generated is $10000, the projected revenue for 2023 is $ 12000'


usd_values = re.findall(r'\$\s*\d+', test_string)
usd_values = [int(val.replace('$', '').replace(' ', '')) for val in usd_values]

print(usd_values)

[2000, 10000, 12000]

Question 1

In [4]:
import pickle
with open('dataset.pkl', 'rb') as f:
    data = pickle.load(f)

In [5]:
data.head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom

In [6]:
# task to assign null customerid to 9999
data['CustomerID'].fillna(9999, inplace=True)

In [7]:
#task remove rows without description 
data.dropna(subset=['Description'], inplace=True)

In [8]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [30]:
import pandas as pd
#1. avg order value
avg= data['UnitPrice'].mean()
print("avg= ",avg)

#2. total revenue 
sum=data['UnitPrice'].sum()
print("sum =", sum )
print("\n")

#3. number of order by customer 
no_cust=data['CustomerID'].value_counts()
print("number of order by customer  = ", no_cust)
print("\n")

#4. 10. highes selling product over the period of dataset
product_sales = data.groupby('InvoiceNo')['Quantity'].sum()
highest_selling_product = product_sales.sort_values(ascending=False)[:10]
print('The highest selling product is sold', highest_selling_product, 'units.')
print("\n")

#5. highest selling product for each month 
data['date'] = pd.to_datetime(data['InvoiceDate'])
data['month'] = data['InvoiceDate'].dt.month
monthly_product_sales = data.groupby(['month', 'Description'])['Quantity'].sum()
highest_selling_products = monthly_product_sales.groupby('month').idxmax()
print(highest_selling_products)

avg=  4.623519023785516
sum = 2498803.974000001


number of order by customer  =  9999.0     133626
17841.0      7983
14911.0      5903
14096.0      5128
12748.0      4642
            ...
13270.0         1
17763.0         1
17291.0         1
15668.0         1
15562.0         1
Name: CustomerID, Length: 4373, dtype: int64


The highest selling product is sold InvoiceNo
581483    80995
541431    74215
556917    15049
563076    14730
574941    14149
576365    13956
572035    13392
567423    12572
578841    12540
552883    12266
Name: Quantity, dtype: int64 units.


month
1     (1, WHITE HANGING HEART T-LIGHT HOLDER)
2                  (2, EMPIRE DESIGN ROSETTE)
3                (3, JUMBO BAG RED RETROSPOT)
4      (4, WORLD WAR 2 GLIDERS ASSTD DESIGNS)
5                   (5, SMALL POPCORN HOLDER)
6                (6, JUMBO BAG RED RETROSPOT)
7        (7, GIRLS ALPHABET IRON ON PATCHES )
8          (8, ASSORTED COLOUR BIRD ORNAMENT)
9                (9, JUMBO BAG RED RETROSPOT)
10    (10, WORLD WAR 2 GLIDERS ASSTD DESIGNS)
11                   (11, RABBIT NIGHT LIGHT)
12    (12, WORLD WAR 2 GLIDERS ASSTD DESIGNS)
Name: Quantity, dtype: object

In [33]:
import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="sameer",
  database="leyland",
  port=3308
)

# Create a cursor object
mycursor = mydb.cursor()

mycursor.execute("select * from invoices")
results = mycursor.fetchall()

sql = "INSERT INTO mytable (InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
val = data 


mycursor.executemany(sql, val)

# Commit the changes
mydb.commit()

# Print a success message
print(mycursor.rowcount, "record inserted.")

# Print the results
for row in results:
  print(row)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().