In [1]:
'''
Index => Rank ##

(optimize) col ##
cal how many comp ##
unique comp ##
toatl revenu for energy  ##
toatl count of employess eithier tech or telecom 

'''

'\nIndex => Rank \n\n(optimize) col \ncal how many comp\nunique comp\ntoatl revenu for energy \ntoatl count of employess eithier tech or telecom \n\n'

In [2]:
import pandas as pd

In [42]:
df=pd.read_csv("fortune_data.csv",index_col=["Rank"])

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Company    1000 non-null   object
 1   Sector     1000 non-null   category
 2   Industry   1000 non-null   category
 3   Location   1000 non-null   object
 4   Revenue    1000 non-null   int64
 5   Profits    1000 non-null   int64
 6   Employees  1000 non-null   int32
dtypes: category(2), int32(1), int64(2), object(2)
memory usage: 48.3+ KB

In [17]:
df["Sector"].nunique()

21

In [43]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [49]:
df["Sector"]=df["Sector"].astype("category")

In [46]:

df["Employees"]=df["Employees"].astype(int)

In [53]:
(df["Company"].nunique())

996

In [54]:
len(df["Company"])

1000

In [67]:
df.loc[df["Sector"]=="Energy"].sum()

C:\Users\miles\AppData\Local\Temp\ipykernel_5336\2992513726.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.loc[df["Sector"]=="Energy"].sum()

Company      Exxon MobilChevronPhillips 66Valero EnergyMara...
Location     Irving, TXSan Ramon, CAHouston, TXSan Antonio,...
Revenue                                                1517809
Profits                                                 -73447
Employees                                              1188927
dtype: object

In [85]:
df[(df["Sector"]=="Technology") | (df["Sector"]=="Telecommunications")]["Employees"].sum()

4411417