In [1]:
import pandas as pd

In [32]:
PokemonSeries = pd.read_csv("pokemon_data.csv",usecols=["Pokemon"])

In [33]:
type(PokemonSeries)

pandas.core.frame.DataFrame

In [34]:
len(PokemonSeries)

721

In [35]:
PokemonSeries.to_dict()

{'Pokemon': {0: 'Bulbasaur',
  1: 'Ivysaur',
  2: 'Venusaur',
  3: 'Charmander',
  4: 'Charmeleon',
  5: 'Charizard',
  6: 'Squirtle',
  7: 'Wartortle',
  8: 'Blastoise',
  9: 'Caterpie',
  10: 'Metapod',
  11: 'Butterfree',
  12: 'Weedle',
  13: 'Kakuna',
  14: 'Beedrill',
  15: 'Pidgey',
  16: 'Pidgeotto',
  17: 'Pidgeot',
  18: 'Rattata',
  19: 'Raticate',
  20: 'Spearow',
  21: 'Fearow',
  22: 'Ekans',
  23: 'Arbok',
  24: 'Pikachu',
  25: 'Raichu',
  26: 'Sandshrew',
  27: 'Sandslash',
  28: 'Nidoran',
  29: 'Nidorina',
  30: 'Nidoqueen',
  31: 'Nidoran♂',
  32: 'Nidorino',
  33: 'Nidoking',
  34: 'Clefairy',
  35: 'Clefable',
  36: 'Vulpix',
  37: 'Ninetales',
  38: 'Jigglypuff',
  39: 'Wigglytuff',
  40: 'Zubat',
  41: 'Golbat',
  42: 'Oddish',
  43: 'Gloom',
  44: 'Vileplume',
  45: 'Paras',
  46: 'Parasect',
  47: 'Venonat',
  48: 'Venomoth',
  49: 'Diglett',
  50: 'Dugtrio',
  51: 'Meowth',
  52: 'Persian',
  53: 'Psyduck',
  54: 'Golduck',
  55: 'Mankey',
  56: 'Primeape',
  57: 'Growlithe',
  58: 'Arcanine',
  59: 'Poliwag',
  60: 'Poliwhirl',
  61: 'Poliwrath',
  62: 'Abra',
  63: 'Kadabra',
  64: 'Alakazam',
  65: 'Machop',
  66: 'Machoke',
  67: 'Machamp',
  68: 'Bellsprout',
  69: 'Weepinbell',
  70: 'Victreebel',
  71: 'Tentacool',
  72: 'Tentacruel',
  73: 'Geodude',
  74: 'Graveler',
  75: 'Golem',
  76: 'Ponyta',
  77: 'Rapidash',
  78: 'Slowpoke',
  79: 'Slowbro',
  80: 'Magnemite',
  81: 'Magneton',
  82: "Farfetch'd",
  83: 'Doduo',
  84: 'Dodrio',
  85: 'Seel',
  86: 'Dewgong',
  87: 'Grimer',
  88: 'Muk',
  89: 'Shellder',
  90: 'Cloyster',
  91: 'Gastly',
  92: 'Haunter',
  93: 'Gengar',
  94: 'Onix',
  95: 'Drowzee',
  96: 'Hypno',
  97: 'Krabby',
  98: 'Kingler',
  99: 'Voltorb',
  100: 'Electrode',
  101: 'Exeggcute',
  102: 'Exeggutor',
  103: 'Cubone',
  104: 'Marowak',
  105: 'Hitmonlee',
  106: 'Hitmonchan',
  107: 'Lickitung',
  108: 'Koffing',
  109: 'Weezing',
  110: 'Rhyhorn',
  111: 'Rhydon',
  112: 'Chansey',
  113: 'Tangela',
  114: 'Kangaskhan',
  115: 'Horsea',
  116: 'Seadra',
  117: 'Goldeen',
  118: 'Seaking',
  119: 'Staryu',
  120: 'Starmie',
  121: 'Mr. Mime',
  122: 'Scyther',
  123: 'Jynx',
  124: 'Electabuzz',
  125: 'Magmar',
  126: 'Pinsir',
  127: 'Tauros',
  128: 'Magikarp',
  129: 'Gyarados',
  130: 'Lapras',
  131: 'Ditto',
  132: 'Eevee',
  133: 'Vaporeon',
  134: 'Jolteon',
  135: 'Flareon',
  136: 'Porygon',
  137: 'Omanyte',
  138: 'Omastar',
  139: 'Kabuto',
  140: 'Kabutops',
  141: 'Aerodactyl',
  142: 'Snorlax',
  143: 'Articuno',
  144: 'Zapdos',
  145: 'Moltres',
  146: 'Dratini',
  147: 'Dragonair',
  148: 'Dragonite',
  149: 'Mewtwo',
  150: 'Mew',
  151: 'Chikorita',
  152: 'Bayleef',
  153: 'Meganium',
  154: 'Cyndaquil',
  155: 'Quilava',
  156: 'Typhlosion',
  157: 'Totodile',
  158: 'Croconaw',
  159: 'Feraligatr',
  160: 'Sentret',
  161: 'Furret',
  162: 'Hoothoot',
  163: 'Noctowl',
  164: 'Ledyba',
  165: 'Ledian',
  166: 'Spinarak',
  167: 'Ariados',
  168: 'Crobat',
  169: 'Chinchou',
  170: 'Lanturn',
  171: 'Pichu',
  172: 'Cleffa',
  173: 'Igglybuff',
  174: 'Togepi',
  175: 'Togetic',
  176: 'Natu',
  177: 'Xatu',
  178: 'Mareep',
  179: 'Flaaffy',
  180: 'Ampharos',
  181: 'Bellossom',
  182: 'Marill',
  183: 'Azumarill',
  184: 'Sudowoodo',
  185: 'Politoed',
  186: 'Hoppip',
  187: 'Skiploom',
  188: 'Jumpluff',
  189: 'Aipom',
  190: 'Sunkern',
  191: 'Sunflora',
  192: 'Yanma',
  193: 'Wooper',
  194: 'Quagsire',
  195: 'Espeon',
  196: 'Umbreon',
  197: 'Murkrow',
  198: 'Slowking',
  199: 'Misdreavus',
  200: 'Unown',
  201: 'Wobbuffet',
  202: 'Girafarig',
  203: 'Pineco',
  204: 'Forretress',
  205: 'Dunsparce',
  206: 'Gligar',
  207: 'Steelix',
  208: 'Snubbull',
  209: 'Granbull',
  210: 'Qwilfish',
  211: 'Scizor',
  212: 'Shuckle',
  213: 'Heracross',
  214: 'Sneasel',
  215: 'Teddiursa',
  216: 'Ursaring',
  217: 'Slugma',
  218: 'Magcargo',
  219: 'Swinub',
  220: 'Piloswine',
  221: 'Corsola',
  222: 'Remoraid',
  223: 'Octillery',
  224: 'Delibird',
  225: 'Mantine',
  226: 'Skarmory',
  227: 'Houndour',
  228: 'Houndoom',
  229: 'Kingdra',
  230: 'Phanpy',
  231: 'Donphan',
  232: 'Porygon2',
  233: 'Stantler',
  234: 'Smeargle',
  235: 'Tyrogue',
  236: 'Hitmontop',
  237: 'Smoochum',
  238: 'Elekid',
  239: 'Magby',
  240: 'Miltank',
  241: 'Blissey',
  242: 'Raikou',
  243: 'Entei',
  244: 'Suicune',
  245: 'Larvitar',
  246: 'Pupitar',
  247: 'Tyranitar',
  248: 'Lugia',
  249: 'Ho-oh',
  250: 'Celebi',
  251: 'Treecko',
  252: 'Grovyle',
  253: 'Sceptile',
  254: 'Torchic',
  255: 'Combusken',
  256: 'Blaziken',
  257: 'Mudkip',
  258: 'Marshtomp',
  259: 'Swampert',
  260: 'Poochyena',
  261: 'Mightyena',
  262: 'Zigzagoon',
  263: 'Linoone',
  264: 'Wurmple',
  265: 'Silcoon',
  266: 'Beautifly',
  267: 'Cascoon',
  268: 'Dustox',
  269: 'Lotad',
  270: 'Lombre',
  271: 'Ludicolo',
  272: 'Seedot',
  273: 'Nuzleaf',
  274: 'Shiftry',
  275: 'Taillow',
  276: 'Swellow',
  277: 'Wingull',
  278: 'Pelipper',
  279: 'Ralts',
  280: 'Kirlia',
  281: 'Gardevoir',
  282: 'Surskit',
  283: 'Masquerain',
  284: 'Shroomish',
  285: 'Breloom',
  286: 'Slakoth',
  287: 'Vigoroth',
  288: 'Slaking',
  289: 'Nincada',
  290: 'Ninjask',
  291: 'Shedinja',
  292: 'Whismur',
  293: 'Loudred',
  294: 'Exploud',
  295: 'Makuhita',
  296: 'Hariyama',
  297: 'Azurill',
  298: 'Nosepass',
  299: 'Skitty',
  300: 'Delcatty',
  301: 'Sableye',
  302: 'Mawile',
  303: 'Aron',
  304: 'Lairon',
  305: 'Aggron',
  306: 'Meditite',
  307: 'Medicham',
  308: 'Electrike',
  309: 'Manectric',
  310: 'Plusle',
  311: 'Minun',
  312: 'Volbeat',
  313: 'Illumise',
  314: 'Roselia',
  315: 'Gulpin',
  316: 'Swalot',
  317: 'Carvanha',
  318: 'Sharpedo',
  319: 'Wailmer',
  320: 'Wailord',
  321: 'Numel',
  322: 'Camerupt',
  323: 'Torkoal',
  324: 'Spoink',
  325: 'Grumpig',
  326: 'Spinda',
  327: 'Trapinch',
  328: 'Vibrava',
  329: 'Flygon',
  330: 'Cacnea',
  331: 'Cacturne',
  332: 'Swablu',
  333: 'Altaria',
  334: 'Zangoose',
  335: 'Seviper',
  336: 'Lunatone',
  337: 'Solrock',
  338: 'Barboach',
  339: 'Whiscash',
  340: 'Corphish',
  341: 'Crawdaunt',
  342: 'Baltoy',
  343: 'Claydol',
  344: 'Lileep',
  345: 'Cradily',
  346: 'Anorith',
  347: 'Armaldo',
  348: 'Feebas',
  349: 'Milotic',
  350: 'Castform',
  351: 'Kecleon',
  352: 'Shuppet',
  353: 'Banette',
  354: 'Duskull',
  355: 'Dusclops',
  356: 'Tropius',
  357: 'Chimecho',
  358: 'Absol',
  359: 'Wynaut',
  360: 'Snorunt',
  361: 'Glalie',
  362: 'Spheal',
  363: 'Sealeo',
  364: 'Walrein',
  365: 'Clamperl',
  366: 'Huntail',
  367: 'Gorebyss',
  368: 'Relicanth',
  369: 'Luvdisc',
  370: 'Bagon',
  371: 'Shelgon',
  372: 'Salamence',
  373: 'Beldum',
  374: 'Metang',
  375: 'Metagross',
  376: 'Regirock',
  377: 'Regice',
  378: 'Registeel',
  379: 'Latias',
  380: 'Latios',
  381: 'Kyogre',
  382: 'Groudon',
  383: 'Rayquaza',
  384: 'Jirachi',
  385: 'Deoxys',
  386: 'Turtwig',
  387: 'Grotle',
  388: 'Torterra',
  389: 'Chimchar',
  390: 'Monferno',
  391: 'Infernape',
  392: 'Piplup',
  393: 'Prinplup',
  394: 'Empoleon',
  395: 'Starly',
  396: 'Staravia',
  397: 'Staraptor',
  398: 'Bidoof',
  399: 'Bibarel',
  400: 'Kricketot',
  401: 'Kricketune',
  402: 'Shinx',
  403: 'Luxio',
  404: 'Luxray',
  405: 'Budew',
  406: 'Roserade',
  407: 'Cranidos',
  408: 'Rampardos',
  409: 'Shieldon',
  410: 'Bastiodon',
  411: 'Burmy',
  412: 'Wormadam',
  413: 'Mothim',
  414: 'Combee',
  415: 'Vespiquen',
  416: 'Pachirisu',
  417: 'Buizel',
  418: 'Floatzel',
  419: 'Cherubi',
  420: 'Cherrim',
  421: 'Shellos',
  422: 'Gastrodon',
  423: 'Ambipom',
  424: 'Drifloon',
  425: 'Drifblim',
  426: 'Buneary',
  427: 'Lopunny',
  428: 'Mismagius',
  429: 'Honchkrow',
  430: 'Glameow',
  431: 'Purugly',
  432: 'Chingling',
  433: 'Stunky',
  434: 'Skuntank',
  435: 'Bronzor',
  436: 'Bronzong',
  437: 'Bonsly',
  438: 'Mime Jr.',
  439: 'Happiny',
  440: 'Chatot',
  441: 'Spiritomb',
  442: 'Gible',
  443: 'Gabite',
  444: 'Garchomp',
  445: 'Munchlax',
  446: 'Riolu',
  447: 'Lucario',
  448: 'Hippopotas',
  449: 'Hippowdon',
  450: 'Skorupi',
  451: 'Drapion',
  452: 'Croagunk',
  453: 'Toxicroak',
  454: 'Carnivine',
  455: 'Finneon',
  456: 'Lumineon',
  457: 'Mantyke',
  458: 'Snover',
  459: 'Abomasnow',
  460: 'Weavile',
  461: 'Magnezone',
  462: 'Lickilicky',
  463: 'Rhyperior',
  464: 'Tangrowth',
  465: 'Electivire',
  466: 'Magmortar',
  467: 'Togekiss',
  468: 'Yanmega',
  469: 'Leafeon',
  470: 'Glaceon',
  471: 'Gliscor',
  472: 'Mamoswine',
  473: 'Porygon-Z',
  474: 'Gallade',
  475: 'Probopass',
  476: 'Dusknoir',
  477: 'Froslass',
  478: 'Rotom',
  479: 'Uxie',
  480: 'Mesprit',
  481: 'Azelf',
  482: 'Dialga',
  483: 'Palkia',
  484: 'Heatran',
  485: 'Regigigas',
  486: 'Giratina',
  487: 'Cresselia',
  488: 'Phione',
  489: 'Manaphy',
  490: 'Darkrai',
  491: 'Shaymin',
  492: 'Arceus',
  493: 'Victini',
  494: 'Snivy',
  495: 'Servine',
  496: 'Serperior',
  497: 'Tepig',
  498: 'Pignite',
  499: 'Emboar',
  500: 'Oshawott',
  501: 'Dewott',
  502: 'Samurott',
  503: 'Patrat',
  504: 'Watchog',
  505: 'Lillipup',
  506: 'Herdier',
  507: 'Stoutland',
  508: 'Purrloin',
  509: 'Liepard',
  510: 'Pansage',
  511: 'Simisage',
  512: 'Pansear',
  513: 'Simisear',
  514: 'Panpour',
  515: 'Simipour',
  516: 'Munna',
  517: 'Musharna',
  518: 'Pidove',
  519: 'Tranquill',
  520: 'Unfezant',
  521: 'Blitzle',
  522: 'Zebstrika',
  523: 'Roggenrola',
  524: 'Boldore',
  525: 'Gigalith',
  526: 'Woobat',
  527: 'Swoobat',
  528: 'Drilbur',
  529: 'Excadrill',
  530: 'Audino',
  531: 'Timburr',
  532: 'Gurdurr',
  533: 'Conkeldurr',
  534: 'Tympole',
  535: 'Palpitoad',
  536: 'Seismitoad',
  537: 'Throh',
  538: 'Sawk',
  539: 'Sewaddle',
  540: 'Swadloon',
  541: 'Leavanny',
  542: 'Venipede',
  543: 'Whirlipede',
  544: 'Scolipede',
  545: 'Cottonee',
  546: 'Whimsicott',
  547: 'Petilil',
  548: 'Lilligant',
  549: 'Basculin',
  550: 'Sandile',
  551: 'Krokorok',
  552: 'Krookodile',
  553: 'Darumaka',
  554: 'Darmanitan',
  555: 'Maractus',
  556: 'Dwebble',
  557: 'Crustle',
  558: 'Scraggy',
  559: 'Scrafty',
  560: 'Sigilyph',
  561: 'Yamask',
  562: 'Cofagrigus',
  563: 'Tirtouga',
  564: 'Carracosta',
  565: 'Archen',
  566: 'Archeops',
  567: 'Trubbish',
  568: 'Garbodor',
  569: 'Zorua',
  570: 'Zoroark',
  571: 'Minccino',
  572: 'Cinccino',
  573: 'Gothita',
  574: 'Gothorita',
  575: 'Gothitelle',
  576: 'Solosis',
  577: 'Duosion',
  578: 'Reuniclus',
  579: 'Ducklett',
  580: 'Swanna',
  581: 'Vanillite',
  582: 'Vanillish',
  583: 'Vanilluxe',
  584: 'Deerling',
  585: 'Sawsbuck',
  586: 'Emolga',
  587: 'Karrablast',
  588: 'Escavalier',
  589: 'Foongus',
  590: 'Amoonguss',
  591: 'Frillish',
  592: 'Jellicent',
  593: 'Alomomola',
  594: 'Joltik',
  595: 'Galvantula',
  596: 'Ferroseed',
  597: 'Ferrothorn',
  598: 'Klink',
  599: 'Klang',
  600: 'Klinklang',
  601: 'Tynamo',
  602: 'Eelektrik',
  603: 'Eelektross',
  604: 'Elgyem',
  605: 'Beheeyem',
  606: 'Litwick',
  607: 'Lampent',
  608: 'Chandelure',
  609: 'Axew',
  610: 'Fraxure',
  611: 'Haxorus',
  612: 'Cubchoo',
  613: 'Beartic',
  614: 'Cryogonal',
  615: 'Shelmet',
  616: 'Accelgor',
  617: 'Stunfisk',
  618: 'Mienfoo',
  619: 'Mienshao',
  620: 'Druddigon',
  621: 'Golett',
  622: 'Golurk',
  623: 'Pawniard',
  624: 'Bisharp',
  625: 'Bouffalant',
  626: 'Rufflet',
  627: 'Braviary',
  628: 'Vullaby',
  629: 'Mandibuzz',
  630: 'Heatmor',
  631: 'Durant',
  632: 'Deino',
  633: 'Zweilous',
  634: 'Hydreigon',
  635: 'Larvesta',
  636: 'Volcarona',
  637: 'Cobalion',
  638: 'Terrakion',
  639: 'Virizion',
  640: 'Tornadus',
  641: 'Thundurus',
  642: 'Reshiram',
  643: 'Zekrom',
  644: 'Landorus',
  645: 'Kyurem',
  646: 'Keldeo',
  647: 'Meloetta',
  648: 'Genesect',
  649: 'Chespin',
  650: 'Quilladin',
  651: 'Chesnaught',
  652: 'Fennekin',
  653: 'Braixen',
  654: 'Delphox',
  655: 'Froakie',
  656: 'Frogadier',
  657: 'Greninja',
  658: 'Bunnelby',
  659: 'Diggersby',
  660: 'Fletchling',
  661: 'Fletchinder',
  662: 'Talonflame',
  663: 'Scatterbug',
  664: 'Spewpa',
  665: 'Vivillon',
  666: 'Litleo',
  667: 'Pyroar',
  668: 'Flabébé',
  669: 'Floette',
  670: 'Florges',
  671: 'Skiddo',
  672: 'Gogoat',
  673: 'Pancham',
  674: 'Pangoro',
  675: 'Furfrou',
  676: 'Espurr',
  677: 'Meowstic',
  678: 'Honedge',
  679: 'Doublade',
  680: 'Aegislash',
  681: 'Spritzee',
  682: 'Aromatisse',
  683: 'Swirlix',
  684: 'Slurpuff',
  685: 'Inkay',
  686: 'Malamar',
  687: 'Binacle',
  688: 'Barbaracle',
  689: 'Skrelp',
  690: 'Dragalge',
  691: 'Clauncher',
  692: 'Clawitzer',
  693: 'Helioptile',
  694: 'Heliolisk',
  695: 'Tyrunt',
  696: 'Tyrantrum',
  697: 'Amaura',
  698: 'Aurorus',
  699: 'Sylveon',
  700: 'Hawlucha',
  701: 'Dedenne',
  702: 'Carbink',
  703: 'Goomy',
  704: 'Sliggoo',
  705: 'Goodra',
  706: 'Klefki',
  707: 'Phantump',
  708: 'Trevenant',
  709: 'Pumpkaboo',
  710: 'Gourgeist',
  711: 'Bergmite',
  712: 'Avalugg',
  713: 'Noibat',
  714: 'Noivern',
  715: 'Xerneas',
  716: 'Yveltal',
  717: 'Zygarde',
  718: 'Diancie',
  719: 'Hoopa',
  720: 'Volcanion'}}

In [38]:
type(sorted(PokemonSeries))

list

In [42]:
s=PokemonSeries.squeeze()

In [44]:
s.sort_values(ignore_index=True)

0      Abomasnow
1           Abra
2          Absol
3       Accelgor
4      Aegislash
         ...
716      Zoroark
717        Zorua
718        Zubat
719     Zweilous
720      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [47]:
s.sort_values(ignore_index=True).head(10)

0     Abomasnow
1          Abra
2         Absol
3      Accelgor
4     Aegislash
5    Aerodactyl
6        Aggron
7         Aipom
8      Alakazam
9     Alomomola
Name: Pokemon, dtype: object

In [51]:
s.sort_values(ignore_index=True,ascending=True).tail()

716     Zoroark
717       Zorua
718       Zubat
719    Zweilous
720     Zygarde
Name: Pokemon, dtype: object

In [63]:
typeSeries=pd.read_csv("pokemon_data.csv",index_col=["Pokemon"]).squeeze() # put that paticular column which have unique value for index_col
typeSeries

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [65]:
typeSeries.sort_index() # row label indexing !!

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
              ...
Zoroark         Dark
Zorua           Dark
Zubat         Poison
Zweilous        Dark
Zygarde       Dragon
Name: Type, Length: 721, dtype: object

In [87]:
s[1:5]

1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [88]:
s[[0,2,4]]

0     Bulbasaur
2      Venusaur
4    Charmeleon
Name: Pokemon, dtype: object

In [90]:
s[[0]]="Sameer"

In [91]:
s

0          Sameer
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [94]:
s[[0,2,4]]="sameer","sameer","sameer"

In [96]:
s[[0,2,4]]

0    sameer
2    sameer
4    sameer
Name: Pokemon, dtype: object

In [110]:
typeSeries["Bulbasaur"]

'Grass'

In [112]:
typeSeries.get(0)

'Grass'

In [114]:
typeSeries.get("Sameer","Error BC")

'Error BC'

In [117]:
typeSeries.get([0,2222],"Error BC")

'Error BC'

In [130]:
typeSeries[[0,1]] = ["Water", "Fire"]

In [123]:
typeSeries[[0,1]]

Pokemon
Bulbasaur    Water
Ivysaur       Fire
Name: Type, dtype: object

In [132]:
df=pd.read_csv("pokemon_data.csv")

In [133]:
df

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [143]:
s.apply(len)

0       6
1       7
2       6
3      10
4       6
       ..
716     7
717     7
718     7
719     5
720     9
Name: Pokemon, Length: 721, dtype: int64

In [144]:
# read james bond
# index col with first value
# apply (year 1962-1975 ="Movie hit")
# apply (year 1975-2000 ="Movie Flop")
# else ("movie flop")

In [213]:
jamesSeries = pd.read_csv("jamesbond_user.csv",index_col=["Film"])["Year"]

In [236]:
jamesSeries

Film
Dr. No                             1962
From Russia with Love              1963
Goldfinger                         1964
Thunderball                        1965
Casino Royale                      1967
You Only Live Twice                1967
On Her Majesty's Secret Service    1969
Diamonds Are Forever               1971
Live and Let Die                   1973
The Man with the Golden Gun        1974
The Spy Who Loved Me               1977
Moonraker                          1979
For Your Eyes Only                 1981
Never Say Never Again              1983
Octopussy                          1983
A View to a Kill                   1985
The Living Daylights               1987
Licence to Kill                    1989
GoldenEye                          1995
Tomorrow Never Dies                1997
The World Is Not Enough            1999
Die Another Day                    2002
Casino Royale                      2006
Quantum of Solace                  2008
Skyfall                            2012
Spectre                            2015
Name: Year, dtype: int64

In [201]:
def rating(year):
    r='None'
    if year >= 1962 and year <1975 :
        r="movie hit"
        
    elif year >= 1975 and year<=2000 :
        r="movie Flop"
    else:
        r="Movie avg"
    return r
jamesSeries["Year"].apply(rating)

0      movie hit
1      movie hit
2      movie hit
3      movie hit
4      movie hit
5      movie hit
6      movie hit
7      movie hit
8      movie hit
9      movie hit
10    movie Flop
11    movie Flop
12    movie Flop
13    movie Flop
14    movie Flop
15    movie Flop
16    movie Flop
17    movie Flop
18    movie Flop
19    movie Flop
20    movie Flop
21     Movie avg
22     Movie avg
23     Movie avg
24     Movie avg
25     Movie avg
Name: Year, dtype: object

In [219]:
dicts=(jamesSeries.to_dict())

In [234]:
year_dict={}

for year in range (1960,2020):
    if year >= 1962 and year <1975 :
        year_dict[year]="movie hit"
        
    elif year >= 1975 and year<=2000 :
        year_dict[year]="movie Flop"
    else:
        year_dict[year]="Movie avg"
print(year_dict)

{1960: 'Movie avg', 1961: 'Movie avg', 1962: 'movie hit', 1963: 'movie hit', 1964: 'movie hit', 1965: 'movie hit', 1966: 'movie hit', 1967: 'movie hit', 1968: 'movie hit', 1969: 'movie hit', 1970: 'movie hit', 1971: 'movie hit', 1972: 'movie hit', 1973: 'movie hit', 1974: 'movie hit', 1975: 'movie Flop', 1976: 'movie Flop', 1977: 'movie Flop', 1978: 'movie Flop', 1979: 'movie Flop', 1980: 'movie Flop', 1981: 'movie Flop', 1982: 'movie Flop', 1983: 'movie Flop', 1984: 'movie Flop', 1985: 'movie Flop', 1986: 'movie Flop', 1987: 'movie Flop', 1988: 'movie Flop', 1989: 'movie Flop', 1990: 'movie Flop', 1991: 'movie Flop', 1992: 'movie Flop', 1993: 'movie Flop', 1994: 'movie Flop', 1995: 'movie Flop', 1996: 'movie Flop', 1997: 'movie Flop', 1998: 'movie Flop', 1999: 'movie Flop', 2000: 'movie Flop', 2001: 'Movie avg', 2002: 'Movie avg', 2003: 'Movie avg', 2004: 'Movie avg', 2005: 'Movie avg', 2006: 'Movie avg', 2007: 'Movie avg', 2008: 'Movie avg', 2009: 'Movie avg', 2010: 'Movie avg', 2011: 'Movie avg', 2012: 'Movie avg', 2013: 'Movie avg', 2014: 'Movie avg', 2015: 'Movie avg', 2016: 'Movie avg', 2017: 'Movie avg', 2018: 'Movie avg', 2019: 'Movie avg'}

In [237]:
jamesSeries.map(year_dict)

Film
Dr. No                              movie hit
From Russia with Love               movie hit
Goldfinger                          movie hit
Thunderball                         movie hit
Casino Royale                       movie hit
You Only Live Twice                 movie hit
On Her Majesty's Secret Service     movie hit
Diamonds Are Forever                movie hit
Live and Let Die                    movie hit
The Man with the Golden Gun         movie hit
The Spy Who Loved Me               movie Flop
Moonraker                          movie Flop
For Your Eyes Only                 movie Flop
Never Say Never Again              movie Flop
Octopussy                          movie Flop
A View to a Kill                   movie Flop
The Living Daylights               movie Flop
Licence to Kill                    movie Flop
GoldenEye                          movie Flop
Tomorrow Never Dies                movie Flop
The World Is Not Enough            movie Flop
Die Another Day                     Movie avg
Casino Royale                       Movie avg
Quantum of Solace                   Movie avg
Skyfall                             Movie avg
Spectre                             Movie avg
Name: Year, dtype: object

In [241]:
myDict={ "sameer":"happy","Ivysaur":"great","sameer":"sad"}

In [242]:
s.map(myDict)

0        sad
1      great
2        sad
3        NaN
4        sad
       ...
716      NaN
717      NaN
718      NaN
719      NaN
720      NaN
Name: Pokemon, Length: 721, dtype: object

In [243]:
df= pd.read_csv("pokemon_data.csv")

In [244]:
df.index

RangeIndex(start=0, stop=721, step=1)

In [245]:
df.axes

[RangeIndex(start=0, stop=721, step=1),
 Index(['Pokemon', 'Type'], dtype='object')]

In [246]:
df.columns

Index(['Pokemon', 'Type'], dtype='object')

In [247]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Pokemon  721 non-null    object
 1   Type     721 non-null    object
dtypes: object(2)
memory usage: 11.4+ KB

In [249]:
df.describe()

          Pokemon   Type
count         721    721
unique        721     18
top     Bulbasaur  Water
freq            1    105

In [260]:
df[["Pokemon","Type"]]

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]